.input-messenger{
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 5px;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    input{
        width: 85%;
        padding:0% ;
        border: none;
        outline: none;
    }
    mat-icon{
        width: 5%;
        height: 7vh;
        color: #999999;
        margin-top: 20px;
        cursor: pointer;
    }
    .icon{
        display: flex;
        justify-content: space-between;
    }
}