.infor-messenger{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #f1f1f1;

    .header-infor-messenger{
        width: 100%;
        background: #fff;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        mat-icon{
            color: #999999;
        }
    }
    .example-card {
        width: 100%;
        height: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;

        mat-card-header{
            width: 100%;
            padding: 5px;
        }


      .example-header-image {
        width: 60px;
        height: 60px;
        background-size: cover;
      }
    }
    .example-card:hover{
        background-color: #fff;
    }
    .phone-number{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
                p{
                    margin: 0;
                }
                hr{
                    width: 100%;
                }
            }
        }
    }
    .phone:hover{
        background-color: #fff;
    }
    .photo{
       padding-top: 10px;
       padding-bottom: 10px;
        margin-top: 10px;
        background-color: #fff;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
            }
        }

    }
    .share{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 100vh;
        background-color: #fff;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
            }
        }
    }
}
mat-card{
    padding: 5px;
    box-shadow: none;
    border-radius: none;
    cursor: pointer;

}
mat-card:hover{
    background-color: #f1f1f1;
}
mat-icon{
    color: #404040;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    box-shadow: none;
}
