<div class="infor-messenger">
    <mat-toolbar class="header-infor-messenger">
        <mat-card-header>
            <mat-card-title style="margin: 0;">User Infor</mat-card-title>
        </mat-card-header>
        <div class="close">
            <mat-icon>clear</mat-icon>
        </div>
    </mat-toolbar>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url({{inforMessenger.cover}});"></div>
          <mat-card-title style="margin: 0;">{{ inforMessenger.name }}</mat-card-title>
          <mat-card-subtitle style="margin: 0;">Last time online</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <div class="phone-number">
        <mat-card class="phone">
            <mat-icon>error_outline</mat-icon>
            <div>
                <p>{{ inforMessenger.phone }}</p>
                <p class="text-muted">Mobile</p>
                <hr>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>notifications</mat-icon>
            <div style="display: flex; justify-content: space-between; border-radius: 0;">
                <p>Notifications</p>
                <mat-icon>fiber_manual_record</mat-icon>
            </div>
        </mat-card>
    </div>

      <div class="photo">
        <mat-card>
            <mat-icon>image</mat-icon>
            <div>
                <p>Photo</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>loyalty</mat-icon>
            <div >
                <p>File</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>link</mat-icon>
            <div>
                <p>Share link</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>group</mat-icon>
            <div>
                <p>Group</p>
            </div>
        </mat-card>

    </div>

      <div class="share">
        <mat-card>
            <mat-icon>reply</mat-icon>
            <div>
                <p>Share this contact</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>edit</mat-icon>
            <div>
                <p>Edit contact</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon>delete</mat-icon>
            <div>
                <p>Delate contact</p>
            </div>
        </mat-card>
        <mat-card>
            <mat-icon style="color: red;">block</mat-icon>
            <div>
                <p>Block user</p>
            </div>
        </mat-card>
      </div>

</div>
