.header-messenger{
    background: #fff;
    padding: 0;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    justify-content: space-between;
    .action-messenger{
        align-items: center;

        mat-icon{
            color: #999999;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}
