.example-card {
    width: 100%;
    height: 70px;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    mat-card-header{
        width: 100%;
        padding: 5px;

        mat-icon{
            color: rgb(138, 205, 36);
            margin-left: 70px;
            font-size: 15px;
        }
        .example-header-image {
          width: 50px;
          height: 50px;
          background-size: cover;
        }
    }
  }
