<mat-card  class="example-card"  *ngFor="let user of users" >
    <mat-card-header (click)="chooseItem(user.id, user.name, user.phone, user.messenger, user.cover)">
      <div mat-card-avatar class="example-header-image" style="background-image: url({{user.cover}});"></div>
        <mat-card-title> {{ user.name }} </mat-card-title>
        <mat-card-subtitle> {{ user.messenger }}</mat-card-subtitle>
        <mat-icon>done_all</mat-icon>
    </mat-card-header>
  </mat-card>
