<div class="messenger-content">
    <div mat-card-avatar class="example-header-image" style="background-image: url({{messengerContent.cover}});"></div>
    <div class="content">
        <p> {{ messengerContent.message }} </p>
    </div>
</div>
